.crypt {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

img {
    width: 480px;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease;
    margin-top: 3rem;
}

label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem;
    color: #007bff;
    background-color: rgb(221, 221, 221);
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.6rem;
    vertical-align: middle;
}

.container-pass {
    margin-top: 3rem;
    min-width: max-content;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
}